.card{
    display: grid;
    place-items: center; /* Centra el contenido en ambos ejes */
    height: 90vh;
}

.form{
    border: solid 2px black;
    width: 40%;
    height: 30%;   
}

input{
    display: block;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 6px 30px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 20px;
}
